html
{
    overflow-y:scroll;
}

body
{
    background-color: #c3c1d9;
}

.header
{
    background-image: url("images/practice-header.jpg");
    background-color:#a2b5a3;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:240px;
}

.navbar
{
    background-color:#6263b4
}

.navbar-link
{
    text-align:center;
    padding-bottom:5px;
}

.navbar-link > a
{
    color:white;
    font-size:20pt;
    vertical-align:middle;
}

.hover-title
{
    color:black;
    text-decoration:underline;
}

.main
{
    background-color:white;
    padding:50px;
}

#main-body
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.site-title
{
    text-align:center;
    color:white;
}

.site-title > *
{
    font-weight:bolder;
    font-family:"Times";
    font-stretch:condensed;
    font-size:60pt;
    padding-top:60px;
}

.data-container
{
    margin-top:30px;
    height:800px;
}

.advancing-waluigi
{
    max-width:300px;
    opacity:0;
}

.waluigi
{
    background-image:url("images/crouching-waluigi.png");
    font-size:26pt;
    text-align:right;
}